@font-face {
  font-family: 'helix-icons';
  src: url('fonts/helix-icons.eot?xa0cko');
  src: url('fonts/helix-icons.eot?xa0cko#iefix') format('embedded-opentype'),
    url('fonts/helix-icons.ttf?xa0cko') format('truetype'),
    url('fonts/helix-icons.woff?xa0cko') format('woff'),
    url('fonts/helix-icons.svg?xa0cko#helix-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='helix-icon-'],
[class*=' helix-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'helix-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.helix-icon-home:before {
  content: '\e902';
}
.helix-icon-quill:before {
  content: '\e907';
}
.helix-icon-camera:before {
  content: '\e90f';
}
.helix-icon-podcast:before {
  content: '\e91c';
}
.helix-icon-file-picture:before {
  content: '\e927';
}
.helix-icon-qrcode:before {
  content: '\e938';
}
.helix-icon-bubbles:before {
  content: '\e96c';
}
.helix-icon-spinner:before {
  content: '\e97b';
}
.helix-icon-menu:before {
  content: '\e9bd';
}
.helix-icon-heart:before {
  content: '\e9da';
}
.helix-icon-plus:before {
  content: '\ea0a';
}
.helix-icon-minus:before {
  content: '\ea0b';
}
.helix-icon-cross:before {
  content: '\ea0f';
}
.helix-icon-arrow-up-left:before {
  content: '\ea31';
}
.helix-icon-arrow-up:before {
  content: '\ea32';
}
.helix-icon-arrow-up-right:before {
  content: '\ea33';
}
.helix-icon-arrow-right:before {
  content: '\ea34';
}
.helix-icon-arrow-down-right:before {
  content: '\ea35';
}
.helix-icon-arrow-down:before {
  content: '\ea36';
}
.helix-icon-arrow-down-left:before {
  content: '\ea37';
}
.helix-icon-arrow-left:before {
  content: '\ea38';
}
.helix-icon-mail:before {
  content: '\ea85';
}
.helix-icon-facebook:before {
  content: '\ea91';
}
.helix-icon-youtube:before {
  content: '\ea9d';
}
.helix-icon-twitch:before {
  content: '\ea9f';
}
.helix-icon-github:before {
  content: '\eab0';
}
.helix-icon-linkedin:before {
  content: '\eac9';
}
